#app4 {
    border: 1px solid red;
}
#app4 .c{
    width: 30vw;
    height: 30vh;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes c{
    0%{
        background: red;

    }
    100%{
        background: blue;
    }

}
#app4 .c.active{
    animation: c 1s infinite alternate linear;

}